# ╭──────────────────────────────────────ImplementationGuide───────────────────────────────────────╮
# │  The properties below are used to create the ImplementationGuide resource. For a list of       │
# │  supported properties, see: https://fshschool.org/sushi/configuration/                         │
# ╰────────────────────────────────────────────────────────────────────────────────────────────────╯
id: hl7.fhir.us.core
canonical: 'http://hl7.org/fhir/us/core'
name: USCore
title: US Core Implementation Guide
status: active
extension:
  - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-wg  #<<< must include a http://hl7.org/fhir/StructureDefinition/structuredefinition-wg extension that identifies the workgroup responsible for the IG. This is the authoritative element.
    valueCode: cgp  # <<< The value must be the code for the workgroup
  - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-standards-status
    valueCode: trial-use
  - url: http://hl7.org/fhir/StructureDefinition/structuredefinition-fmm
    valueInteger: 3
publisher:
  name: HL7 International / Cross-Group Projects # <<< The stated publisher must be "HL7 International / {wg-name"} where the wg-name is the display value for the code
  url: 'http://www.hl7.org/Special/committees/cgp'  # <<< the contacts for the resource must include the link to the group found in the definition
  email: cgp@lists.HL7.org
jurisdiction: 'urn:iso:std:iso:3166#US'
copyright: >-
  Used by permission of HL7 International, all rights reserved Creative Commons License
description: >-
  The US Core Implementation Guide is based on FHIR Version R4 and defines the minimum conformance requirements for accessing patient data. The Argonaut pilot implementations, ONC 2015 Edition Common Clinical Data Set (CCDS), and ONC U.S. Core Data for Interoperability (USCDI) v1 provided the requirements for this guide. The prior Argonaut search and vocabulary requirements, based on FHIR DSTU2, are updated in this guide to support FHIR Version R4. This guide was used as the basis for further testing and guidance by the Argonaut Project Team to provide additional content and guidance specific to Data Query Access for purpose of ONC Certification testing. These profiles are the foundation for future US Realm FHIR implementation guides. In addition to Argonaut, they are used by DAF-Research, QI-Core, and CIMI. Under the guidance of HL7 and the HL7 US Realm Steering Committee, the content will expand in future versions to meet the needs specific to the US Realm.

  These requirements were originally developed, balloted, and published in FHIR DSTU2 as part of the Office of the National Coordinator for Health Information Technology (ONC) sponsored Data Access Framework (DAF) project. For more information on how DAF became US Core see the US Core change notes.

license: CC0-1.0
date: 2023-07-13
version: '7.0.0-ballot'
fhirVersion: 4.0.1
dependencies:
  hl7.fhir.uv.bulkdata: 2.0.0
  hl7.fhir.uv.smart-app-launch: 2.1.0
  us.nlm.vsac:
    uri: 'http://fhir.org/packages/us.nlm.vsac/ImplementationGuide/us.nlm.vsac'
    version: 0.12.0
    id: vsac
  hl7.fhir.uv.sdc: 3.0.0
  # hl7.fhir.us.sdoh-clinicalcare: 1.0.0
  us.cdc.phinvads:
    id: uscdcphinvads
    uri: 'http://fhir.org/packages/us.cdc.phinvads/ImplementationGuide/us.cdc.phinvads'
    version: 0.12.0
  ihe.formatcode.fhir: 1.1.0
  hl7.fhir.uv.extensions: current  # <<<< If your WG is not in the older list, you need to add an explicit dependency to the current version of the extensions pack
pages:
  index.md:
    title: Home
  conformance.md:
    general-requirements.md:
    must-support.md:
      observation-summary.md:
        title: Observation Summary Table
    scopes.md:
      title: US Core SMART Scopes
  guidance.md:
    uscdi.md:
      title: USCDI
    general-guidance.md:
    clinical-notes.md:
    medication-list.md:
    basic-provenance.md:
    screening-and-assessments.md:
      title:  Screening and Assessments
    changes-between-versions.md:
    future-of-US-core.md:
      title: Future of US Core
      fhir-write.md:
        title: FHIR Write Guidance for Vital Sign Observations
  profiles-and-extensions.md:
  capability-statements.md:
  search-parameters-and-operations.md:
  terminology.md:
  security.md:
  examples.md:
  downloads.md:
  changes.md:
    title: Change Log
  ImplementationGuide-hl7.fhir.us.core.md:
    title: US Core ImplementationGuide Resource
parameters:  # see https://confluence.hl7.org/display/FHIR/Implementation+Guide+Parameters
  path-resource:
    - input/resources
    - fsh-generated/resources
  path-pages:
    - input/pagecontent
    - input/intro-notes
    - fsh-generated/includes
    #- input/summaries
  path-expansion-params: '../../input/_resources/exp-params.json'  # for using US ed of SNOMED
  active-tables: false
  apply-contact: true
  apply-jurisdiction: true
  apply-publisher: true
  apply-version: true
  show-inherited-invariants: true
  usage-stats-opt-out: true
  # excludexml: false
  # excludejson: false
  # excludettl: true
  # excludemap: true
  suppressed-ids: DocumentReference/discharge-summary
  tabbed-snapshots: false
  # generate: #what does this do - todo: remove and see4
  #   - xml
  #   - json
  no-narrative:
    - Patient/example-targeted-provenance
    - Provenance/example-targeted-provenance
    - DocumentReference/discharge-summary
    - Bundle/docref-example-1
    - Bundle/docref-example-2
  # no-validate:
  #   - '*/*'  # does not seems to work
  #   - 'StructureDefinition/*'
  version-comparison:
    - 6.1.0
    - 5.0.1
    - 4.0.0
    - 3.1.1
  html-exempt:  # These pages are generated by the cli validator for comparison between Argo and US Core
    - comparison-argo/vs-observation-status-us-core-observation-smoking-status-status.html
    - comparison-argo/vs-c80-doc-typecodes-us-core-documentreference-type.html
    - comparison-argo/vs-medication-codes-2.16.840.1.113762.1.4.1010.4.html
    - comparison-argo/vs-condition-category-condition-category.html
    - comparison-argo/index.html
    - comparison-argo/sd-argo-patient-us-core-patient.html
    - comparison-argo/vs-observation-ccdavitalsignresult-us-core-vital-signs.html
    - comparison-argo/vs-device-kind-device-kind.html
    - comparison-argo/sd-argo-medication-us-core-medication.html
    - comparison-argo/sd-argo-vitalsigns-us-core-vital-signs.html
    - comparison-argo/sd-argo-allergyintolerance-us-core-allergyintolerance.html
    - comparison-argo/sd-argo-condition-us-core-condition-encounter-diagnosis.html
    - comparison-argo/sd-argo-observationresults-us-core-observation-clinical-result.html
    - comparison-argo/sd-argo-documentreference-us-core-documentreference.html
    - comparison-argo/sd-argo-birthsex-us-core-birthsex.html
    - comparison-argo/sd-argo-smokingstatus-us-core-smokingstatus.html
    - comparison-argo/sd-argo-immunization-us-core-immunization.html
    - comparison-argo/vs-observation-codes-us-core-smoking-status-observation-codes.html
    - comparison-argo/vs-report-codes-us-core-diagnosticreport-report-and-note-codes.html
    - comparison-argo/sd-argo-condition-us-core-condition-problems-health-concerns.html
    - comparison-argo/sd-argo-device-us-core-implantable-device.html
    - comparison-argo/sd-argo-race-us-core-race.html
    - comparison-argo/vs-observation-codes-us-core-laboratory-test-codes.html
    - comparison-argo/vs-procedure-type-us-core-procedure-code.html
    - comparison-argo/vs-languages-simple-language.html
    - comparison-argo/vs-report-codes-us-core-laboratory-test-codes.html
    - comparison-argo/vs-vacc-status-immunization-status.html
    - comparison-argo/sd-argo-observationresults-us-core-observation-lab.html
    - comparison-argo/sd-argo-ethnicity-us-core-ethnicity.html
    - comparison-argo/vs-narrative-status-us-core-narrative-status.html
  # ipa-comparison: 
  #   - '{current}'
  logging:
    - tx #tx: Messages describing the use of the terminology server (for debugging)
    - html #html: Log when validating an html page (troubleshooting only - leave off)
    - generate #generate: Log when producing an individual resource (troubleshooting only - leave off)
    - init #init: Messages describing the start up process (for debugging)
    - progress #progress: Overall progress messages
copyrightyear: '2023+'
#releaselabel: CI Build
releaselabel: STU6
# releaselabel: Ballot

# ╭────────────────────────────────────────────menu.xml────────────────────────────────────────────╮
# │  To use a provided ig-data/input/includes/menu.xml file, delete the "menu" property below.     │
# ╰────────────────────────────────────────────────────────────────────────────────────────────────╯
menu:
  Home: index.html
  Conformance: #conformance.html
      General Requirements: general-requirements.html
      Must Support: must-support.html
      US Core SMART Scopes: scopes.html
  Guidance: #guidance.html
      USCDI: uscdi.html
      General Guidance: general-guidance.html
      Clinical Notes: clinical-notes.html
      Medication List: medication-list.html
      Basic Provenance: basic-provenance.html
      Screening and Assessments: screening-and-assessments.html
      Changes Between Versions: changes-between-versions.html
      Future of US Core: future-of-US-core.html
  FHIR Artifacts: #artifact.html
      Profiles and Extensions: profiles-and-extensions.html
      Search Parameters and Operations: search-parameters-and-operations.html
      Terminology: terminology.html
      Capability Statements: capability-statements.html
  Security: security.html
  Examples: examples.html
  Downloads: downloads.html
  Change Log: changes.html
