img, video, audio, div, p, iframe {
	max-width: 100% !important;
}
body {
	padding-left: 0px;
	padding-right: 0px;
	margin: 0;
	line-height: 24px;
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
    font-family: -apple-system-font;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* iPhone 4S/5/5s portrait */
@media screen and (min-width:320px) {
	figure {
		max-width: 100% !important;
	}
	body, figcaption {
		padding-left: 0px;
		padding-right: 0px
	}
	h1 {
		font-size: 20px;
		line-height: 24px;
	}
	h2 {
		font-size: 19px;
		line-height: 23px;
	}
	h3 {
		font-size: 17px;
		line-height: 22px;
	}
	h4, h5, h6 {
		font-size: 17px;
		line-height: 20px;
	}
    p {
        font: -apple-system-body;
    }
}
/* iPhone 6 portrait */
@media screen  and (min-width:375px) {
	body, figcaption {
		padding-left: 0px;
		padding-right: 0px
	}
	figure img {
		max-width: -webkit-calc(100% + 40px) !important;
	}
    p {
        font: -apple-system-body;
    }
}
/* iPhone 6+ portrait */
@media screen and (min-width:414px)  {
    p {
        font: -apple-system-body;
    }
}
/* iPad portrait */
@media screen and (min-width:500px)  {
	body, figcaption {
        padding-left: 0px;
        padding-right: 0px;
	}
	figure img {
		max-width: 100% !important;
	}
	h1 {
		font-size: 22px;
		line-height: 30px;
	}
	h2 {
		font-size: 20px;
		line-height: 26px;
	}
	h3 {
		font-size: 17px;
		line-height: 24px;
	}
	h4, h5, h6 {
		font-size: 17px;
		line-height: 22px;
	}
}
/* iPad landscape */
@media screen and (min-width:680px) and (min-height:415px) and (min-device-height:768px) {
    body, figcaption {
        padding-left: 0px;
        padding-right: 0px;
    }
}
* {
	word-break: break-word;
}
figcaption, small {
	font-size: 13px;
	line-height: 18px;
	color: rgb(150, 150, 150);
}
figcaption {
	margin-top: 10px;
	padding-top: 0;
}
a {
	text-decoration: none;
}
audio, video, embed, iframe, form {
	display: none !important;
}
blockquote {
	margin: 18px 0px 18px 0px;
	padding-left: 16px;
	color: rgb(142, 142, 142);
	border-left: 1px solid rgb(230, 230, 230)
}
@media (prefers-color-scheme: dark) {
    body {
        color: rgb(255, 255, 255);
    }
    figcaption, small {
        color: rgb(115, 115, 115);
    }
    blockquote {
        color: rgb(150, 150, 150);
        border-left: 1px solid rgb(245, 245, 245)
    }
}
