---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Bundle' id='66c8856b-ba11-4876-8aa8-467aad8c11a2' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Bundle/66c8856b-ba11-4876-8aa8-467aad8c11a2 - Change History</h2>
  <p>History of changes for 66c8856b-ba11-4876-8aa8-467aad8c11a2 {{type | downcase}}.</p>

  {%include Bundle-66c8856b-ba11-4876-8aa8-467aad8c11a2-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
