---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='CapabilityStatement' id='us-core-client' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: UsCoreClientCapabilityStatement - Change History</h2>
  <p>History of changes for us-core-client {{type | downcase}}.</p>

  {%include CapabilityStatement-us-core-client-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
