---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Goal' id='goal-sdoh-2' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Goal/goal-sdoh-2 - Change History</h2>
  <p>History of changes for goal-sdoh-2 {{type | downcase}}.</p>

  {%include Goal-goal-sdoh-2-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
