---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='Patient' id='child-example' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Patient/child-example - Change History</h2>
  <p>History of changes for child-example {{type | downcase}}.</p>

  {%include Patient-child-example-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
