---
---
<!-- get modelType -->
{% include fragment-modelType.html id='us-core-organization' %}

{% include fragment-pagebegin.html %}
<div style="counter-reset: section 4" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-profile-navtabs.html type='StructureDefinition' id='us-core-organization' active='definition' %}

<a name="root"> </a>
<h2 id="root">{{modelType}}: USCoreOrganizationProfile - Detailed Descriptions</h2>

<p>Definitions for the us-core-organization {{modelType | downcase}}.</p>

  <!-- insert intro if present -->
  {% include fragment-intro.html type='StructureDefinition' id='us-core-organization' %}

  {%include StructureDefinition-us-core-organization-dict.xhtml%}

  <!-- insert notes if present -->
  {% include fragment-notes.html type='StructureDefinition' id='us-core-organization' %}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
