---
---
<!-- get modelType -->
{% include fragment-modelType.html id='us-core-observation-lab' %}

{% include fragment-pagebegin.html %}
<div style="counter-reset: section 5" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-profile-navtabs.html type='StructureDefinition' id='us-core-observation-lab' active='mapping' %}

<a name="root"> </a>
<h2 id="root">{{modelType}}: USCoreLaboratoryResultObservationProfile - Mappings</h2>

<p>Mappings for the us-core-observation-lab {{modelType | downcase }}.</p>

  <!-- insert intro if present -->
  {% include fragment-intro.html type='StructureDefinition' id='us-core-observation-lab' %}

  {%include StructureDefinition-us-core-observation-lab-maps.xhtml%}

  <!-- insert notes if present -->
  {% include fragment-notes.html type='StructureDefinition' id='us-core-observation-lab' %}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
