---
---
<!-- get modelType -->
{% include fragment-modelType.html id='us-core-practitionerrole' %}

{% assign format = page.path | split: '.html'| first | split: '.' | last %}

{% if format == 'xml' %}
{% assign section = '7' %}
{% elsif format == 'json' %}
{% assign section = '8' %}
{% else %}
{% assign section = '9' %}
{% endif %}

{% include fragment-pagebegin.html %}
<div style="counter-reset: section {{section}}" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-profile-navtabs.html type='StructureDefinition' id='us-core-practitionerrole' active=format %}

<a name="root"> </a>
<h2 id="root">{{modelType}}: USCorePractitionerRoleProfile - {{format | upcase}} Profile</h2>

<p>{{format | upcase}} representation of the us-core-practitionerrole {{modelType | downcase }}.</p>

<p><a href="StructureDefinition-us-core-practitionerrole.{{format}}" no-download="true">Raw {{format}}</a> | <a href="StructureDefinition-us-core-practitionerrole.{{format}}" download>Download</a></p>

  <!-- insert intro if present -->
  {% include fragment-intro.html type='StructureDefinition' id='us-core-practitionerrole' %}

  {%include StructureDefinition-us-core-practitionerrole-{{format}}-html.xhtml%}

  <!-- insert notes if present -->
  {% include fragment-notes.html type='StructureDefinition' id='us-core-practitionerrole' %}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
