---
---
<!-- get modelType -->
{% include fragment-modelType.html id='us-core-respiratory-rate' %}

{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-profile-navtabs.html type='StructureDefinition' id='us-core-respiratory-rate' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{modelType}}: USCoreRespiratoryRateProfile - Change History</h2>
  <p>Changes in the us-core-respiratory-rate {{modelType | downcase}}.</p>

  {%include StructureDefinition-us-core-respiratory-rate-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
