---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='ValueSet' id='us-core-goal-description' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: USCoreGoalCodes - Change History</h2>
  <p>History of changes for us-core-goal-description {{type | downcase}}.</p>

  {%include ValueSet-us-core-goal-description-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
