
body {
    margin: 0;
    padding: 0;
    user-select: none !important;
    -webkit-user-select: none !important;
    -webkit-user-callout: none !important;
    -webkit-touch-callout: none !important;
}
