
</div>

    </div>  <!-- /inner-wrapper -->
            </div>  <!-- /row -->
        </div>  <!-- /container -->

    </div>  <!-- /segment-content -->

<!-- back to top arrow -->
{% if page.topofpage %}
<a id="back-to-top" href="#" class="btn btn-info btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
{% endif %}

<!-- end back to top arrow -->

<div id="segment-footer" class="segment"  igtool="footer">  <!-- segment-footer -->
  <div class="container">  <!-- container -->
   <div class="inner-wrapper">
    <p>{% if {{site.hl7_ig}} == true %}
     © HL7.org {{site.data.info.copyrightyear}} (<a href="{{site.data.fhir.ig.contact[0].telecom[0]}}">{{site.data.fhir.ig.publisher}}</a>).
     {%- else %}
     <a href="{{site.data.fhir.ig.contact[0].telecom[0]}}">{{site.data.fhir.ig.publisher}} </a>
     {%- endif %} {{site.data.fhir.packageId}}#{{site.data.fhir.igVer }} based on <a style="color: #81BEF7" href="{{site.data.fhir.path}}index.html">FHIR v{{site.data.fhir.version}}</a> generated <span href="#" data-toggle="tooltip" data-placement="top" title="{{site.data.fhir.genDate}}">{{site.data.fhir.genDate | date: "%Y-%m-%d"}}</span>. <br/>
      Links: <a style="color: #81BEF7" href="toc.html">Table of Contents</a>
      | <a style="color: #81BEF7" href="qa.html">QA Report</a>
      | <a style="color: #81BEF7" href="{{ site.historypath }}">Version History</a>
      | <a style="color: #81BEF7" rel="license" href="{{site.data.fhir.path}}license.html"><img style="border-style: none;" alt="CC0" src="cc0.png"/></a>
      | <a style="color: #81BEF7" href="{{ site.changelink }}" target="_blank">Propose a change</a>
        </p>
   </div>  <!-- /inner-wrapper -->
  </div>  <!-- /container -->
 </div>  <!-- /segment-footer -->
  <!-- disqus thread -->
  <!-- disqus -->
  <!-- end disqus -->

 <div id="segment-post-footer" class="segment hidden">  <!-- segment-post-footer -->
  <div class="container">  <!-- container -->
  </div>  <!-- /container -->
 </div>  <!-- /segment-post-footer -->

 <!-- JS and analytics only. -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./assets/js/jquery.min.js"> </script>     <!-- note keep space here, otherwise it will be transformed to empty tag -> fails -->
<script src="./assets/js/bootstrap.min.js"> </script>
<script src="./assets/js/respond.min.js"> </script>
<script src="./assets/js/anchor.min.js"> </script>
<script src="./assets/js/fhir.js"> </script>

{% if page.topofpage %}
<script src="./assets/js/topofpage.js"> </script>
{% endif %}
{% if page.myjs %}
<script src="./assets/js/{{page.myjs}}"> </script>
{% endif %}


{% include copy-me.html %}


<!-- Analytics Below
================================================== -->

<!-- add anchors before the closing body tag -->
<script>
anchors.add()

$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>

</body>
</html>
