
{% assign pagepath = page.path | replace: ".md", ".html" %}
{% assign pagenumber = site.data.pages[pagepath].label | remove: ".0" %}
{% assign pagenumbers = site.data.pages[pagepath].label | split: "." %}

{% unless pagenumber == '' %}
  <style type="text/css">
    /* Section numbering*/
    body{
      counter-reset:
      {%- for i in pagenumbers %} {{"pagenumber" | append: forloop.index}} {% if forloop.index == 1 %}{{i| plus: 1}}{% else %}{{i | plus: 0 }}{% endif %} {% endfor -%}
     section
        }

  h2{counter-reset: sub-section}
  h3{counter-reset: composite}
  h4{counter-reset: detail}
  h5{counter-reset: more-detail}

  h2:not([nocount^="true"]):before{
    counter-increment: section;
    content:  counter(pagenumber1) "." {% if pagenumbers[1] and pagenumbers[1] != "0" %}counter(pagenumber2)"." {% endif %}{% if pagenumbers[2] and pagenumbers[2] != 0) %}counter(pagenumber3)"." {% endif %}counter(section) " ";
    color: silver;
  }
  h3:not([nocount^="true"]):before{
    counter-increment: sub-section;
    content: counter(pagenumber1) "." {% if pagenumbers[1] and pagenumbers[1] != "0" %}counter(pagenumber2)"." {% endif %}{% if pagenumbers[2] and pagenumbers[2] != 0) %}counter(pagenumber3)"." {% endif %}counter(section) "." counter(sub-section) " ";
    color: silver;

  }
  h4:not([nocount^="true"]):before{
    content: counter(pagenumber1) "." {% if pagenumbers[1] and pagenumbers[1] != "0" %}counter(pagenumber2)"." {% endif %}{% if pagenumbers[2] and pagenumbers[2] != 0) %}counter(pagenumber3)"." {% endif %}counter(section) "." counter(sub-section) "." counter(composite) " ";
    color: silver;
    counter-increment: composite;
    counter-reset: detail 1;
  }
  h5:not([nocount^="true"]):before{

    content: counter(pagenumber1) "." {% if pagenumbers[1] and pagenumbers[1] != "0" %}counter(pagenumber2)"." {% endif %}{% if pagenumbers[2] and pagenumbers[2] != 0) %}counter(pagenumber3)"." {% endif %}counter(section) "." counter(sub-section) "." counter(composite) "." counter(detail) " ";
    color: silver;
    counter-increment: detail;
    counter-reset: more-detail 1;
  }
  h6:not([nocount^="true"]):before{
    content: counter(pagenumber1) "." {% if pagenumbers[1] and pagenumbers[1] != "0" %}counter(pagenumber2)"." {% endif %}{% if pagenumbers[2] and pagenumbers[2] != 0) %}counter(pagenumber3)"." {% endif %}counter(section) "." counter(sub-section) "." counter(composite) "." counter(detail) "." counter(more-detail)" ";
    color: silver;
    counter-increment: more-detail;
  }
</style>
{% endunless %}
