<script src="assets/js/jquery.min.js"> </script>
<script src="assets/js/jquery-ui.min.js"> </script>
<script>
try {
  var currentTabIndex = sessionStorage.getItem('fhir-resource-tab-index');
}
catch(exception){
}

if (!currentTabIndex)
  // to show summaries as default view for comment ballot - need to fix javascipt so can link directly to tabs.
  {% if site.summary_view_pages contains page.name %}
  currentTabIndex = '0';
  {% elsif site.default_profile_view %}
  currentTabIndex = '{{site.default_profile_view}}';
  {% else %}
  currentTabIndex = '1';
  {% endif %}

$( '#tabs' ).tabs({
         active: currentTabIndex,
         activate: function( event, ui ) {
             var active = $('.selector').tabs('option', 'active');
             currentTabIndex = ui.newTab.index();
             document.activeElement.blur();
             try {
               sessionStorage.setItem('fhir-resource-tab-index', currentTabIndex);
             }
             catch(exception){
             }
         }
     });

</script>
