<p id="publish-box">
This is the {% if {{site.build}} == "ci" %}
    Continuous Integration Build
   {% elsif {{site.build}} == "ballot" %}
     Release {{site.data.fhir.ig.version}} Ballot
   {% else %}
     Release {{site.data.fhir.ig.version }}
  {% endif %} of the {{site.data.fhir.igName}} Implementation Guide,  based on <a href="{{ site.data.fhir.path }}index.html">FHIR Version {{ site.data.fhir.version }}</a>.  See the <a href="{{ site.historypath }}">Directory of published versions</a>
</p>
